h2= title
form(action=action method="post")
    input(name="userId" type="text" placeholder="userId")
    input(name="password" type="password" placeholder="password")
    button.btn.btn-info.btn-block.login(type="submit") Envoyer